# Imports

In [3]:
import pandas as pd
import json
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import warnings 
warnings.filterwarnings("ignore")

In [4]:
tmdb_data_api = pd.read_csv("/Users/obsid/Efficient-TMDB-API-Calls/Data/tmdb_results_combined.csv.gz")
tmdb_data_api.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.112,2221.0,PG
2,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.100,181.0,R
3,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,Sånger från andra våningen,...,80334.0,99.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.200,239.0,NaN
4,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R

In [5]:
tmdb_data_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                638 non-null    object
 1   adult                  638 non-null    float64
 2   backdrop_path          541 non-null    object
 3   belongs_to_collection  110 non-null    object
 4   budget                 638 non-null    float64
 5   genres                 638 non-null    object
 6   homepage               76 non-null     object
 7   id                     638 non-null    float64
 8   original_language      638 non-null    object
 9   original_title         638 non-null    object
 10  overview               636 non-null    object
 11  popularity             638 non-null    float64
 12  poster_path            619 non-null    object
 13  production_companies   638 non-null    object
 14  production_countries   638 non-null    object
 15  release_date           637 non-null    object
 16  revenue                638 non-null    float64
 17  runtime                638 non-null    float64
 18  spoken_languages       638 non-null    object
 19  status                 638 non-null    object
 20  tagline                499 non-null    object
 21  title                  638 non-null    object
 22  video                  638 non-null    float64
 23  vote_average           638 non-null    float64
 24  vote_count             638 non-null    float64
 25  certification          430 non-null    object
dtypes: float64(9), object(17)
memory usage: 129.7+ KB

In [7]:
save_these = ["imdb_id","release_date","revenue","budget","certification"]
tmdb_data_api = tmdb_data_api[save_these]
tmdb_data_api.head(10)

     imdb_id release_date      revenue       budget certification
0  tt0113026   2000-09-22          0.0   10000000.0           NaN
1  tt0118694   2000-09-29   14204632.0     150000.0            PG
2  tt0119273   2000-04-19          0.0   15000000.0             R
3  tt0120263   2000-10-06      80334.0          0.0           NaN
4  tt0120467   2002-04-26      14904.0     120000.0             R
5  tt0120626   2000-04-21          0.0    6105121.0           NaN
6  tt0120630   2000-06-23  224834564.0   45000000.0             G
7  tt0120753   2000-02-09     105983.0    8000000.0             R
8  tt0120755   2000-05-24  546388105.0  125000000.0         PG-13
9  tt0120903   2000-07-13  296339527.0   75000000.0         PG-13

In [8]:
tmdb_data_api["certification"].value_counts()

R        232
PG-13    131
PG        35
NR        17
G         15
Name: certification, dtype: int64

# Questions to Answer

 - The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [13]:
tmdb_data_api(["revenue"] == certification R)

TypeError: 'DataFrame' object is not callable