# Imports

In [1]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import database_exists
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import statsmodels.stats.multicomp as mc

# Your Data

- A critical first step for this assignment will be to retrieve additional movie data to add to your SQL database.
- You will want to use the TMDB API again and extract data for additional years.
- You may want to review the optional lesson from Week 1 on "Using Glob to Load Many Files" to load and combine all of your API results for each year.

In [11]:
# create connection with MySQL
username = 'root'
password = 'root'
db_name = 'movies'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [12]:
# create engine
engine = create_engine(connection)

# check
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [13]:
# check by showing tables in db
sql = """SHOW TABLES IN movies;
"""

pd.read_sql_query(sql, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4    tmdb_data_api

In [14]:
# create helper function to check and remove outliers
# argument 'dictionary' is a dictionary with the groups as keys
# and series of data as values
def check_and_remove_outliers(dictionary):
    
    # iterate over keys (groups) in dictionary
    for key in dictionary.keys():
        
        # check original number of observations
        original_obs = len(dictionary[key])
        
        # check number of outliers
        is_outlier = np.abs(stats.zscore(dictionary[key])) > 3
        number_of_outliers = np.sum(is_outlier)
        
        # remove outliers
        dictionary[key] = dictionary[key][(np.abs(stats.zscore(dictionary[key])) <= 3)]
        
        # print summary
        print(f"Outliers ({number_of_outliers}) removed from group {key};\n",
        f"Number of current observations {len(dictionary[key])} should be {original_obs - number_of_outliers}.")

In [18]:
q = """SELECT t.revenue, t.certification
FROM tmdb_data_api as t
Where t.certification <> 'NR'
AND t.certification <> 'NC-17'
AND t.revenue <> 0;
"""
df = pd.read_sql(q, engine)

df.head()

      revenue certification
0  76019000.0         PG-13
1   5271670.0         PG-13
2  14204600.0            PG
3   5227350.0             R
4     14904.0             R

# The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [21]:
df["certification"].value_counts() #there may be added spacing needing removal

R         2517
PG-13     1820
PG         694
G          131
PG-13        1
Name: certification, dtype: int64

In [22]:
# check that 'certification' only has G, PG, PG-13, and R
df["certification"].apply(lambda x: f"'{x}'").value_counts()

'R'         2517
'PG-13'     1820
'PG'         694
'G'          131
'PG-13 '       1
Name: certification, dtype: int64

In [23]:
# fix PG-13 rating
df['certification'] = df['certification'].str.strip()

In [24]:
# check
df['certification'].apply(lambda x: f"'{x}'").value_counts()
#This shows corrected str for PG-13

'R'        2517
'PG-13'    1821
'PG'        694
'G'         131
Name: certification, dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5163 entries, 0 to 5162
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   revenue        5163 non-null   float64
 1   certification  5163 non-null   object
dtypes: float64(1), object(1)
memory usage: 80.8+ KB

# Questions to Answer

 - The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?
 
**Null Hypothesis: The Revenue of a movie is not affected by the rating** 

**Alternative Hypothesis: The Revenue of a movie is affected by the rating**

In [26]:
df.head()

      revenue certification
0  76019000.0         PG-13
1   5271670.0         PG-13
2  14204600.0            PG
3   5227350.0             R
4     14904.0             R

# I am comparing 2 groups on numeric data. I will be using a 2 Sample T-Test. The assumptions for the 2 Sample T-Test are:
- 1. Normal distribution of data
- 2. Equal Variance
- 3. No significant outliers